body {
  background: lavender;
}

.content {
  position: relative;
  left: 15%;
  width: 1000px;
}

h1 {
  position: absolute;
  left: 370px;
}

h4 {
position: absolute;
top: 50px;
left: 430px;
}

.inputs {
  position: absolute;
  left: 10px;
  top: 105px;
}

.submit {
  position: absolute;
  left: 435px;
}

table {
  position: absolute;
  width: 787px;
  top: 200px;
  left: 100px;
  display: block;
  border: 1px solid black;
}

th {
  padding: 10px 55px 10px 55px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 0 10px;
}



